<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Capture payment</title>
  </head>
  <body>
    <h2>Add Order Id to procede to capture</h2>
    <form action="/capture" method="post">
      <input type="text" name="orderId" />
      <input type="submit" value="Capture Order" />
    </form>
  </body>
</html>
